@use "../components/navbar";
@use "../components/footer";
@use "../base/" as *;

// Hero Section
#hero {
  position: relative;
  margin-block: 5rem;

  .img-branch {
    position: absolute;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;

    .text-content {
      display: flex;
      flex-direction: column;
      align-items: self-start;
      gap: 1.25rem;
      max-width: 43.25rem;

      h1.content-header {
        @include font-style(xl, bold, xl, "heading");
        color: $secondary;
      }

      p.content-text {
        @include font-style(lg, regular, lg, "text");
        color: $font-gray;
      }
    }
    .image-content {
      position: relative;
      top: 70px;
    }
  }
}

// CALCULATE SECTION
#kalkulator {
  padding-block: 5.97rem;

  .description-container {
    display: flex;
    align-items: center;

    .text-content {
      display: flex;
      flex-direction: column;
      gap: 0.81rem;

      p.content-sub-text {
        color: #3d5656;
        @include font-style(xs, medium, xs, "heading");
      }

      h1.content-header {
        color: $secondary;
        @include font-style(md, bold, md, "heading");
      }

      p.content-text {
        color: #475467;
        @include font-style(md, regular, md, "text");
        max-width: 40rem;
      }

      .btn-secondary {
        align-self: self-start;
      }
    }
  }
}

// SECTION DAMPAK
#dampak {
  padding-block: 4rem;

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;

    .section-header {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 45.625rem;
      align-self: center;
      gap: 0.81rem;

      p.content-sub-header {
        color: #3d5656;
        @include font-style(xs, medium, xs, "heading");
      }

      h1.content-header {
        color: $secondary;
        @include font-style(md, bold, md, "heading");
      }
    }

    .box-wrapper {
      border-radius: 1.875rem;
      background-color: #f9fafb;
      padding: 2.5rem 5.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        @include font-style(md, medium, md, "text");
        color: $font-gray;
      }
    }
  }
}

@media (max-width: 1024px) {
  #hero {
    .hero-container {
      padding-top: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text-content {
        text-align: center;

        .btn-secondary {
          align-self: center;
        }
      }

      .image-container {
        position: relative;
        top: 0;
      }
    }
  }

  #kalkulator {
    .description-container {
      flex-direction: column;
      padding-top: 30px;

      .text-content {
        text-align: center;
        justify-content: center;

        .btn-secondary {
          align-self: center;
        }
      }
    }
  }
}
