// FONT
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
$inter: "Inter", sans-serif;

// BASE COLOR
$primary: #f6fef9;
$secondary: #68b984;
$font-black: #101828;
$font-white: #fcfcfd;
$font-gray: #667085;
