@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: calc(100% - 7rem);
  margin-inline: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.btn-master, .btn-secondary, .btn-primary {
  padding: 0.5rem 1.875rem;
  border-radius: 62.4375rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.btn-primary {
  border: 1px solid #68b984;
  color: #68b984;
}

.btn-secondary {
  color: #fcfcfd;
  background-color: #68b984;
  border: none;
  cursor: pointer;
}

.btn-menu {
  display: none;
}
.btn-menu .hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.btn-menu .hamburger span {
  width: 30px;
  height: 2px;
  background-color: #68b984;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.btn-menu .hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateX(5px);
}
.btn-menu .hamburger.active span:nth-child(2) {
  display: none;
}
.btn-menu .hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateX(5px);
}

header {
  position: relative;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo > img {
  width: 80%;
}
header nav .navigation-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav .nav-list {
  display: flex;
  gap: 2rem;
  padding: 0.62rem 1.8rem;
  align-items: center;
}
header nav .nav-list .nav-item {
  color: #101828;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

@media (max-width: 1024px) {
  nav .navigation-container {
    flex-direction: column;
    background-color: #ffffff;
    padding-block: 1rem;
  }
  nav .navigation {
    transform: translateY(-400px);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s ease;
  }
  nav .navigation .nav-list {
    flex-direction: column;
    justify-content: center;
    padding-block: 1.5rem;
  }
  nav .active {
    transform: translateY(0px);
    transition: 0.3s ease;
  }
  nav .btn-menu {
    display: block;
    z-index: 9999;
  }
}
footer {
  background-color: #3d5656;
  margin-top: auto;
}
footer .footer-inner {
  padding: 1.37rem 0 2.69rem 0;
}
footer .footer-inner p.footer-text {
  max-width: 30rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fcfcfd;
}
footer .footer-inner .link-wrapper {
  align-self: flex-end;
}
footer .footer-inner .link-wrapper .link-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}
footer .footer-inner .link-wrapper .link-item p {
  color: #fcfcfd;
}
footer .flex-reverse {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#hero {
  position: relative;
  margin-block: 5rem;
}
#hero .img-branch {
  position: absolute;
}
#hero .hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
}
#hero .hero-container .text-content {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 1.25rem;
  max-width: 43.25rem;
}
#hero .hero-container .text-content h1.content-header {
  margin-bottom: -0.075rem;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: #68b984;
}
#hero .hero-container .text-content p.content-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #667085;
}
#hero .hero-container .image-content {
  position: relative;
  top: 70px;
}

#kalkulator {
  padding-block: 5.97rem;
}
#kalkulator .description-container {
  display: flex;
  align-items: center;
}
#kalkulator .description-container .text-content {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}
#kalkulator .description-container .text-content p.content-sub-text {
  color: #3d5656;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}
#kalkulator .description-container .text-content h1.content-header {
  color: #68b984;
  margin-bottom: -0.045rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
}
#kalkulator .description-container .text-content p.content-text {
  color: #475467;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 40rem;
}
#kalkulator .description-container .text-content .btn-secondary {
  align-self: self-start;
}

#dampak {
  padding-block: 4rem;
}
#dampak .section-container {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
#dampak .section-container .section-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 45.625rem;
  align-self: center;
  gap: 0.81rem;
}
#dampak .section-container .section-header p.content-sub-header {
  color: #3d5656;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}
#dampak .section-container .section-header h1.content-header {
  color: #68b984;
  margin-bottom: -0.045rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
}
#dampak .section-container .box-wrapper {
  border-radius: 1.875rem;
  background-color: #f9fafb;
  padding: 2.5rem 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#dampak .section-container .box-wrapper p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #667085;
}

@media (max-width: 1024px) {
  #hero .hero-container {
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero .hero-container .text-content {
    text-align: center;
  }
  #hero .hero-container .text-content .btn-secondary {
    align-self: center;
  }
  #hero .hero-container .image-container {
    position: relative;
    top: 0;
  }
  #kalkulator .description-container {
    flex-direction: column;
    padding-top: 30px;
  }
  #kalkulator .description-container .text-content {
    text-align: center;
    justify-content: center;
  }
  #kalkulator .description-container .text-content .btn-secondary {
    align-self: center;
  }
}
.index-field {
  margin-top: 5rem;
  padding-block: 3.75rem;
}
.index-field .section-header {
  color: #68b984;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.index-field .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-block: 1.87rem;
}
.index-field .wrapper p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.index-field .wrapper .input-btn-wrapper {
  display: flex;
  gap: 1.25rem;
}
.index-field .wrapper .input-btn-wrapper .input-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.69rem 1.81rem 0.75rem 1.81rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 0.375rem;
  position: relative;
  border: 1px solid transparent;
}
.index-field .wrapper .input-btn-wrapper .input-btn input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  opacity: 0;
  cursor: pointer;
}
.index-field .wrapper .input-btn-wrapper .input-btn p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.index-field .wrapper .input-btn-wrapper .checked {
  border: 1px solid #68b984;
}

#input-field {
  margin-block: 2rem;
  padding-block: 3.75rem;
}
#input-field h1.section-header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #68b984;
  margin-bottom: 1.88rem;
}
#input-field .form-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: start;
}
#input-field input[type=text] {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 0px 6px 0px rgba(0, 0, 0, 0.02);
  border-radius: 0.5rem;
  border: 1px solid #d0d5dd;
  padding: 0.75rem 1rem;
  width: 24.5rem;
}
#input-field #inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
  align-items: start;
}
#input-field #inputContainer .input-wrapper {
  display: flex;
  gap: 1.25rem;
}
#input-field #inputContainer .input-wrapper button {
  cursor: pointer;
  align-self: center;
  padding: 0.62rem;
  background-color: #fff;
  border: 1px solid #68b984;
  display: flex;
  border-radius: 100px;
}
#input-field #inputContainer .input-wrapper button img {
  align-items: center;
}
#input-field .input-asal {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}

#result {
  margin-block: 6rem;
}
#result .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "one two two" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three" "one three three";
  gap: 2.44rem;
}
#result .grid-container .grid-item:nth-child(1) {
  grid-area: one;
}
#result .grid-container .grid-item:nth-child(2) {
  grid-area: two;
}
#result .grid-container .grid-item:nth-child(3) {
  grid-area: three;
}
#result .grid-container .route-details {
  background-color: #f9fafb;
  padding: 1.5rem 1.69rem;
  border-radius: 1.875rem;
}
#result .grid-container .route-details h1.text-header, #result .grid-container .route-details .emmision-result h1.carbon-result, #result .grid-container .emmision-result .route-details h1.carbon-result {
  color: #68b984;
  padding-inline: 0.31rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
}
#result .grid-container .route-details p.distance {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #667085;
}
#result .grid-container .route-details p.text-sub-header {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #68b984;
}
#result .grid-container .route-details .main-destination {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
#result .grid-container .route-details .main-destination .route-distance {
  background-color: #68b984;
  padding: 0.5rem 0.62rem;
  display: flex;
  align-items: center;
  border-radius: 62.4375rem;
}
#result .grid-container .route-details .main-destination .route-distance p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #fff;
}
#result .grid-container .route-details .main-destination p.destination {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
#result .grid-container .route-details .sub-destination {
  display: flex;
  flex-direction: column;
  gap: 0.38rem;
}
#result .grid-container .route-details .sub-destination p.destination {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
#result .grid-container .route-details .wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
  padding-block: 1.25rem 1.28rem;
  padding-inline: 0.31rem;
}
#result .grid-container .route-details .wrapper:not(:last-child) {
  border-bottom: 1px solid #d0d5dd;
}
#result .grid-container .emmision-result {
  background-color: #f9fafb;
  padding: 1.5rem 2rem;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.81rem;
}
#result .grid-container .emmision-result h1.text-header, #result .grid-container .emmision-result h1.carbon-result {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #68b984;
}
#result .grid-container .emmision-result p.vehicle-type,
#result .grid-container .emmision-result span {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.125rem;
}
#result .grid-container .emmision-result p.vehicle-type > span {
  color: #667085;
}
#result .grid-container .emmision-result h1.carbon-result {
  margin-top: 0.4rem;
}
#result .grid-container .map-container {
  border-radius: 1.875rem;
  overflow: hidden;
}
#result .grid-container .map-container #map {
  width: 100%;
  height: 100%;
}

body,
html {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */